.cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height:300px;
    z-index:0;
    padding-left: 8px;
    padding-top: 8px;
    width: 100%;
}

.cards:hover {
    z-index: 1000;
}

.width-25{
    width: 20%;
}
.cards__img {
    height: 300px;
    width: 100%;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    float: right;
}

.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}
@media screen and (max-width:600px) {
    .cards{
        width: 243px;
    }
}